@using System.Web.Http
@using System.Web.Http.Description
@using eHealthServices.WYYY.Areas.HelpPage.Models
@using eHealthServices.WYYY.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>  @(description.RelativePath.Split('/').ToList().FindLast(a => 1 == 1))</h1>
<div>
    <p>请求类型：@description.HttpMethod.Method </p>
    <p>完整地址：@(ViewBag.MyHospital.ServiceURL + description.RelativePath.Split('/').ToList().FindLast(a => 1 == 1))</p>
    <p>方法说明：@description.Documentation</p>

    <h2>Request 信息</h2>

    @*<h3>URI Parameters</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")*@

    <h3>参数字段说明</h3> 

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>入参格式</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>Response 信息</h2>

    <h3>返回值描述</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>输出格式</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>